@{
    ViewBag.Title = "Home Page";
}

<h1>Cape</h1>
<p class="lead">Cape is a free financial manager and budgeting tool.</p>
<p><a href="https://github.com/Jgregnier/Server-Side-Capstone" class="btn btn-primary btn-lg">See the code &raquo;</a></p>
<p><a class="btn btn-warning" href="http://localhost:49863/Account/Login">Login &raquo;</a></p>
<p><a class="btn btn-warning" href="http://localhost:49863/Account/Register">Register &raquo;</a></p>
