@{
    ViewBag.Title = "Home Page";
}

<h2>Technologies Used</h2>
<br />
<h3>Repository Pattern</h3>
<p>
    At NSS we have six months to be taught software development from the bottom - up.
    Something I particularly wanted to learn was design patterns of Object Oriented Programming, something we 
    dont have the time or debatably the need to learn as a Jr. Developer.
</p>
<p>
    The repository pattern consists of adding levels of abstraction between your business logic 
    and data access layer to keep your business logic clean and your data access totaly controlled.
     Going and learning a design pattern on my own and implementing it in this application has been a 
    very difficult, but rewarding process.
</p>
<h3>Moq Framework</h3>
<p>
    This application is fully tested using the Moq framework.
    Moq Framework allows you to create mock databases to test with.
    I wanted to push myself to learn a totally new framework that we had no schooling on and learn more about
    testing. We were taught in .Net Core, however this framework is currently incompatible with .Net Core.
    Because I am using .Net 4.6.1 and ASP .Net 4.5, I also had to use the following technology.
</p>
<br />
<h3>Third Party Dependency Injection</h3>
<p>
    For this application I had to learn third party dependency injection to get my repositories  
    injected into my controllers. I used Ninject, which provides an inversion of control container to inject any service 
    in your application.
</p>
<br />
<h4>In Conclusion</h4>
<p>Using these techniques and frameworks may have been gross overkill for an application of this size, but proving 
    to myself I can learn these foreign concepts and tools has been very rewarding. Nothing felt better than 
    discovering something new and getting it to work for me. I plan to bring this motivation and thirst to hone my craft 
    to the workplace this year.
</p>