@{
    ViewBag.Title = "Upload";
}
<form id="UploadForm" asp-action="UploadCSV" asp-controller="Cape">
    <input class="form-control" type="file" name="UploadFile" id="UploadFile" />
    <input type="submit" value="Submit" class="btn btn-default" />
</form>